@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Dancing+Script&family=Nunito+Sans:wght@600&family=Prata&family=Rubik+Dirt&display=swap');
* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif;
    background-image: url(gambar2.jpg);
    background-size: cover;
    background-attachment: fixed; 
}
@media screen and (max-width: 1000px){
    .container{
        margin-top: 30%;
    }
}
.container {
    width: 1100px;
    margin: auto;
    position: relative;
}
.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Aref Ruqaa Ink', serif;
    color: #CF9E2C;
}
.navbar {
    float: right;
}
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    top: 0;
    background: #F5F4F0;
    z-index: 1;
    border-bottom: 3px solid #aca8a8;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    float: left;
}
nav ul li a {
    color: #686868;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    color: #CF9E2C;
    text-decoration: underline;
}
section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.content {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}
.content .hdeskripsi {
    font-size: 40px;
    font-weight: 800;
    font-family: 'Dancing Script', cursive;
    color: black;
    margin-bottom: 20px;
    width: 100%;
    line-height: 50px;
}
.content .deskripsi {
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    color: black;
}
.button {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    width: 100px;
    height: 42px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    color: #F5F4F0;
    background-color: #CF9E2C;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 10px;
    float: left;
    box-shadow: 0px 21px 53px rgba(46, 46, 46, 0.66);
}
.button:hover {
    color: #CF9E2C;
    background-color: #F5F4F0;
}
.gambarabout {
    width: 20%;
    margin: 0 auto;
}
.gambarabout img {
    width: 80%;
    border-radius: 50%;
}
footer {
    height: 50px;
    line-height: 50px;
    background-color: #CF9E2C;
    color: #F5F4F0;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
}